*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
}

.flexCentered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap1 {
  gap: .5rem;
}

.card {
  width: 10rem;
  max-width: 10rem;
  height: 80vh;
  max-height: 80vh;
  border: 1px solid lightgrey;
  border-radius: .5rem;
}

.playersSelection {
  display: grid;
  height: 100vh;
  justify-content: center;
  align-content: center;
  gap: .5rem;
}

.playerSelectionCard {
  width: 3.5rem;
  max-width: 3.5rem;
  height: 3.5rem;
  max-height: 3.5rem;
  border: 1px solid lightgrey;
  border-radius: .25rem;
  cursor: pointer;
}